{% extends 'layout.twig' %}

{% block title %} <title> Inscription | </title> parent() {% endblock %}

{% block css_page %}
    <link rel="stylesheet" href="/assets/css/registration.css">
{% endblock %}

{% block content %}

{% endblock %}