
header {
    margin-bottom: 3em;
}

nav a {
    padding-left: 1em;
}
.banner {
    padding: 0;
    margin-bottom: 3em;
}
.banner img {
    width: 100%;
}
#add_calories {
    padding: 0;
}
#add_calories h1::after{
    content: '';
    position: relative;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-inline: 1em;
}

form div:nth-child(n)
{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 1.5em;
    position: relative;
}

 #add_calories ul
{
    position: absolute;
    left:0;
    bottom:-3em;
    padding:0;
}

 form div:nth-child(3)
 {
     margin-top: 1em;
 }

 .flash-success{
     background-color: #00ff86;
     width: 80%;
     margin: 0 auto;
     padding: 4em;
     color: white;
     border-radius: 10px;
 }