@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

* {
    margin: 0;
    padding: 0 ;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Oswald','sans-serif';
}
a {
    color: black;
}

.fa-solid{
    color: black;
}
a:visited{
    color: black;
}

header{
    padding-top:2em;
}

footer{
    margin-top: 5em;
}

ul li {
    color: #ff363b;
    font-weight: bolder;
}