nav {
    display: flex;
    justify-content: space-between;
    padding-inline: 1.5em;
}


#parent {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

#calories{
    border-top: 1.1em solid #44F6EC;
    border-radius: 49px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.5);
    padding: 5em;
    margin-inline: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-decoration: none;
}

#calories p , #weight p {
    color: #8b7b7b;
}
#weight{
    border-top: 1.1em solid #444BF6;
    border-radius: 49px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.5);
    padding: 5em;
    margin-inline: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-decoration: none;
}

#weight h2 , #calories h2{
    color: black;
}

.flash-success{
    background: lightgreen;
    padding: 2em;
    margin: 8em auto;
    width: 80%;
    color: white;
    font-size: 2.5em;
    text-align: center;
}
