
header {
    margin-bottom: 3em;
}

nav a {
    padding-left: 1em;
}
.banner {
    padding: 0;
    margin-bottom: 3em;
}
.banner img {
    width: 100%;
}
#weight_graph {
    padding-inline: 0;
}

#weight_graph h1 {
    text-decoration: underline;
    text-decoration-color: indianred;
}